
#game {
  touch-action: none;
  user-select: none;
  -webkit-touch-callout: none;
}

#game * {
  user-select: none;
  -webkit-user-select: none;
}

html, body{
  touch-action: none;
}

button {
  user-select: none;
}

body {
  background: rgba(133, 300, 100, 0.123);
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.virtual {
  position: relative;
  width: calc(100vh * 9 / 16);
  height: 100vh;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: #fffff0;
}